name: Refresh Twitch Token

on:
  schedule:
    - cron: "0 0 */2 * *"
  workflow_dispatch: {} # permite ejecutar manualmente

jobs:
  refresh-token:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Obtener nuevo token de Twitch
        id: twitch
        run: |
          response=$(curl -s -X POST "https://id.twitch.tv/oauth2/token" \
            -d client_id=${{ secrets.TWITCH_CLIENT_ID }} \
            -d client_secret=${{ secrets.TWITCH_CLIENT_SECRET }} \
            -d grant_type=client_credentials)
          echo "response=$response" >> $GITHUB_OUTPUT

      - name: Extraer access_token
        id: extract
        run: |
          response_json=$(curl -s -X POST "https://id.twitch.tv/oauth2/token" \
            -d client_id=${{ secrets.TWITCH_CLIENT_ID }} \
            -d client_secret=${{ secrets.TWITCH_CLIENT_SECRET }} \
            -d grant_type=client_credentials)

          token=$(echo "$response_json" | jq -r .access_token)

          echo "::add-mask::$token"
          echo "token=$token" >> $GITHUB_OUTPUT

      - name: Update server token
        run: |
          ENV_ID=$(curl -s -H "Authorization: Bearer ${{ secrets.VERCEL_TOKEN }}" \
            "https://api.vercel.com/v9/projects/${{ secrets.SERVER_PROJECT_ID }}/env" | \
            jq -r '.envs[] | select(.key=="AUTHORIZATION") | .id')

          curl -X PATCH "https://api.vercel.com/v9/projects/${{ secrets.SERVER_PROJECT_ID }}/env/$ENV_ID" \
            -H "Authorization: Bearer ${{ secrets.VERCEL_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d "{
              \"value\": \"Bearer ${{ steps.extract.outputs.token }}\",
              \"target\": [\"production\", \"preview\", \"development\"],
              \"type\": \"encrypted\"
            }"

      - name: Update client token
        run: |
          ENV_ID=$(curl -s -H "Authorization: Bearer ${{ secrets.VERCEL_TOKEN }}" \
            "https://api.vercel.com/v9/projects/${{ secrets.CLIENT_PROJECT_ID }}/env" | \
            jq -r '.envs[] | select(.key=="REACT_APP_AUTH_TOKEN") | .id')

          curl -X PATCH "https://api.vercel.com/v9/projects/${{ secrets.CLIENT_PROJECT_ID }}/env/$ENV_ID" \
            -H "Authorization: Bearer ${{ secrets.VERCEL_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d "{
              \"value\": \"Bearer ${{ steps.extract.outputs.token }}\",
              \"target\": [\"production\", \"preview\", \"development\"],
              \"type\": \"encrypted\"
            }"
